.cajapadre{
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
    box-sizing: border-box;

  }

  .tituloFavs{
    color: #6856aa;
    text-align: center}

  *{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    background-color: black;
    color: white;
} 
