article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  width: 60%;
  max-width: 200px; /* Ajusta al tamaño deseado */
  background-color: #f8f9fa; /* Fondo claro */
  color: #212529; /* Texto oscuro */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra suave */
  transition: transform 0.3s; /* Transición suave para hover */
}

article:hover {
  transform: translateY(-5px); /* Elevación ligera al pasar el mouse */
}

img {
  width: 100%; /* Responsive width */
  height: auto; /* Mantener la proporción */
  border-radius: 8px; /* Bordes redondeados para la imagen */
}

.nombrePeli {
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px; /* Tamaño de fuente más grande */
  text-align: center;
}

.descripcionOculta {
  margin-top: 10px;
  cursor: pointer;
  padding: 8px;
  background-color: #e9ecef; /* Fondo gris claro */
  color: #495057; /* Texto gris oscuro */
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s;
}

.descripcionOculta:hover {
  background-color: #ae58c4; /* Cambio de color al pasar el mouse */
}

.resumen {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  color: #343a40; /* Texto un poco más oscuro */
}

.verMas {
  margin-top: 15px;
  background-color: #9638b3; /* Azul brillante */
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.verMas:hover {
  background-color: #a84cb4; /* Azul más oscuro al pasar el mouse */
}

/* Media Queries para adaptar a dispositivos móviles */
@media (max-width: 600px) {
  article {
    padding: 15px;
    margin: 10px;
  }
}
