article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  width: 60%;
  max-width: 200px; 
  background-color: #f8f9fa; 
  color: #212529; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  transition: transform 0.3s; 
}

article:hover {
  transform: translateY(-5px); 
}

img {
  width: 100%; 
  height: auto; 
  border-radius: 8px; 
}

.nombrePeli {
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px; 
  text-align: center;
}

.descripcionOculta {
  margin-top: 10px;
  cursor: pointer;
  padding: 8px;
  background-color: #6856aa; 
  color: #ffffff; 
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s;
}

.buttonStyle {
  background-color: #6856aa;
  color: rgb(255, 255, 255);
  margin-bottom: 4px;    
  margin-left: 10px; 
  border: none; 
  border-radius: 10px; 
  padding: 5px 20px;
  cursor: pointer; 
  text-decoration: none
}

.buttonStyle:hover {
  background-color: #3e21a8;
}

.descripcionOculta:hover {
  background-color: #3e21a8; 
}

.resumen {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  color: #343a40; 
}

.irDetalle {
  margin-top: 15px;
  background-color: #6856aa;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.irDetalle:hover {
  background-color: #3e21a8; 
}


@media (max-width: 600px) {
  article {
    padding: 15px;
    margin: 10px;
  }
}
