.character-card {
    text-align: center;
    justify-content: space-between;
    display: flex;
    text-align: center;
    align-items: center;
    height: 60%;
    width: 40%;
}

.image{

    width: 400px;
    height: 550px; 
    border-radius: 10%;
    margin-top: 100px;
    margin-left: 35px;
}
.titulo{
    font-weight: bold;
    font-size: 70px;
    font-family: didot;
    margin: 10px;
    text-align: center;
}
.cajahijapelis{
    align-items: baseline;
    justify-content: space-between;
    align-items: left;
    height: 70%;
    margin: 10px;
    padding: 20px;
    border-radius: 30px;
    width: 60%;
    text-align: justify;
}
.sectionDetalle {
    display: flex; /* Utiliza flexbox para organizar los elementos en fila */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
  }
  .subtitulo{
    font-size: 30px;
    margin: 20px;
  }
  .botonFav {
    background-color: white; /* Fondo blanco */
    color: black;
    margin-bottom: 4px;    
    margin-left: 10px; /* Para que quede mas lejos del campo */
    border: none; /* Sin borde */
    border-radius: 10px; /* Bordes redondeados */
    padding: 5px 20px; /* Espaciado interno para el botón */
    cursor: pointer; 
    align-self: center;
  }
  /*--Responsive mobile last--*/

/* Media Queries*/

@media(max-width: 420px){
  /*Pagina de detalle*/
  .image {

    width: 30%;
    height: 27%; 
    border-radius: 10%;
    margin-top: 120px;
    margin-left: 15px;
}
  .section{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    }
    .article{
    align-self: center;
    margin-bottom: 2vh;
    margin-top: 0px;

    }
    .image{
    height: auto;
    width: 50%;
    border-radius: 8%;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 2vw;
    margin-right: 2vw;
    }
    .titulo{
    font-size: 25px;
    margin-bottom: 2vh;
    max-width: 100%;
    }

    .subtitulo{
    font-size: 15px;
    margin-bottom: 1vh;
    font-weight: normal;
    align-self: flex-start;
    }

    
  
}