.cajapadre{
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
  }

  *{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    background-color: rgb(0, 0, 0);
    color: white;
} 
/*--Responsive mobile last--*/

/* Mediac Queries*/

@media(max-width: 420px){
}