.cajapadre{
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
  }

  *{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    background-color: rgb(0, 0, 0);
    color: white;
} 

.buttonStyle{
  background-color: #6856aa;
  color: rgb(255, 255, 255);
  margin-bottom: 4px;    
  margin-left: 10px; 
  border: none; 
  border-radius: 10px; 
  padding: 5px 20px;
  cursor: pointer; 
  text-decoration: none
}
.buttonStyle:hover {
  background-color: #3e21a8;
}
