.cajaPadre{
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  *{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    background-color: black;
    color: rgb(0, 0, 0);
} 


@media(max-width: 420px){
}