.cajapadre{
  display: flex;  
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 300px;
  }




.loader{
align-items: center;
height: 400px;
width: 400px;

}
.cajapadre{
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
  }

  *{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    background-color: black;
    color: white;}
.favoritosContenedor {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
  align-items: flex-start; 
  width: 100%; 
}

@media (max-width: 768px) {
  .favoritosContenedor {
      flex-direction: column;  
      align-items: center; 
  }
}


.favoritosContenedor .Peliculas {
  width: 100%;
  margin-bottom: 20px; 
}
