body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    margin: 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(28 27 33);
    min-height: 50px;
    justify-content: space-around;
    border-bottom: solid;
    border-top: solid;
    border-color: rgba(100, 100, 100, 0.521);
}

.logo {
    width: 120px;
    height: 120px;
    margin: left 10px;
}

.navh ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
}
.navh ul li {
    list-style-type: none;
    display: inline;
    color: white;
}

.headera {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-right: 10px;
    text-align: center;
}

.ttindex {
    background-color: rgb(28 27 33);
    border-style: solid;
    border-left: none;
    border-right: none;
    border-color: rgba(100, 100, 100, 0.521);
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

h3 {
    color: rgb(255, 254, 254);
    text-align: center;
    text-decoration: none;

}

p {
    color: rgb(255, 254, 254);
    text-align: center;
    text-decoration: none;

}


.boton {
    background-color: white;
    border: white;
    border-radius: 20px
}

input {
    border-radius: 50px;
    border: solid;
    border-color: white;
}

.sc {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.ss{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;


}

.sa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    height: 400px;
    background-color: rgba(100, 100, 100, 0.521);
    margin: 10px
}

.ims{
    width: 200px; 
    height: 300px;
}

h2 {
    font-size: 30px;
    text-align: center;
}

.contenedorpeli {

    margin: 40px;
    flex-direction: center;
    align-items: center;
    padding: 25px;
    background-color: rgba(100, 100, 100, 0.521);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: inline-flex;

}

.imgdetail {
    height: 400px;
}

.tfavorite {
    background-color: rgba(100, 100, 100, 0.521);
    border-style: solid;
    border-left: none;
    border-right: none;
    border-color: rgba(100, 100, 100, 0.521);
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.trailer{
    display: flex;
    justify-content: space-around;
    height: 300px;
}


.lista {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.conteinerGeneros{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.generosBox{
    background-color:  rgba(255, 255, 255, 0.262);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    width: 20vw;
    margin: 1vw;
    font-weight: bold;
    font-size: 20px
}

.tituloGeneros{
    color: white;
}

.tgenre {
    background-color: rgba(100, 100, 100, 0.521);
    border-style: solid;
    border-left: none;
    border-right: none;
    border-color: rgba(100, 100, 100, 0.521);
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.frase {
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    color: beige;
}

.tdetail {
    background-color: rgba(100, 100, 100, 0.521);
    border-style: solid;
    border-left: none;
    border-right: none;
    border-color: rgba(100, 100, 100, 0.521);
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.listad {
    line-height: 1cm;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.listagd {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    display: inline;
    color: white;
    text-decoration: none;
}

.subt {
    background-color: rgba(100, 100, 100, 0.521);
    border-style: solid;
    border-left: none;
    border-right: none;
    border-color: rgba(100, 100, 100, 0.521);
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.friends {
    height: 400px;
}

.dg {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.tsearch {
    background-color: rgba(100, 100, 100, 0.521);
    border-style: solid;
    border-left: none;
    border-right: none;
    border-color: rgba(100, 100, 100, 0.521);
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.terminos {
    text-decoration: none;
    color: antiquewhite;
}

footer {
    background-color: rgb(28 27 33);
    border-bottom: solid;
    border-top: solid;
    border-color: rgba(46, 2, 63, 0.521);
    width: 100%;
    height: 45px;
    text-align: center;
    border-bottom: solid;
    border-top: solid;
    border-color: rgba(100, 100, 100, 0.521);
    color: white;
}

:root {
    --facebook: #3b5998;
    --twitter: #00acee;
    --instagram: #cd486b;
    --apple: #5D5E58;
}

.redes ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.redes li {
    list-style-type: none;
    display: inline-block;
    margin: 0 5px 0;
}

.redes li a {
    display: block;
    padding: 0 10px;
    color: white;
    line-height: 30px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
    transition: .2s;
    margin: 10px;

}

.redes {
    text-align: right;
    margin-right: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.facebook {
    background: var(--facebook);
}

.twitter {
    background: var(--twitter);
}

.instagram {
    background: var(--instagram);
}

.apple {
    background: var(--apple);
}

.footer {
    display: flex;
    background-color: rgb(28 27 33);
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 420px) {
    header {
        flex-direction: column;
    }

    .sc {
        align-items: center;
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
    }

    .sa {
        margin: 25px;
        flex-direction: column
        
    }

    .contenedorpeli {
        margin: 40px;
        flex-direction: column;
        padding: 25px;
        background-color: rgba(100, 100, 100, 0.521);
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .lista {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        text-decoration: none;
        flex-direction: column;
    }
    .tsearch{
        text-align: center;
        margin: 10px;
    }

    .ttindex{
        text-align: center;
        margin: 15px;
    }
}

@media (hover: hover){
    .redes li a:hover{
        transform: translateY(-3px) scale(1.05);
        box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .2);
    }
    .sa:hover{
        transform: translateY(-3px) scale(1.05);
        box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .2);
    }
    .boton:hover {
        background-color: rgba(100, 100, 100, 0.521);
        border: white;
        border-radius: 20px;
        color: white;
    }
    .headera:hover{
        background-color: rgba(100, 100, 100, 0.521);
        border-radius: 50px;
    }

    .generosBox:hover{
        box-shadow: 0px 2px 15px whitesmoke;
    }
}
