/* Estilos base y reset para el navbar */
.navh {
    background-color: #6856aa; /* Un color de fondo más moderno */
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px; /* Padding más consistente */
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
  }
  
  .logo {
    height: auto;
    width: 80px; /* Ajustar ancho mientras mantiene la proporción */
    margin-right: 30px;
    object-fit: contain; /* Asegura que la imagen no se deforme */
    border-radius: 50%; /* Opcional: para dar un borde redondeado al logo */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Sombra sutil para el logo */
  }
  
  .headera {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1; /* Aprovecha el espacio disponible */
  }
  
  .headera a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s, transform 0.2s; /* Suavizado de las transiciones */
  }
  
  .headera h1 {
    font-size: 1rem;
    font-weight: 500; /* Menos negrita para una lectura más fácil */
    text-transform: uppercase; /* Estilo en mayúsculas para más impacto */
    margin: 0;
    letter-spacing: 1px; /* Espaciado de letras para mejor legibilidad */
  }
  
  .headera a:hover, .headera a:focus {
    background-color: #4a90e2; /* Color de fondo al pasar el mouse */
    color: #ffffff;
    transform: translateY(-2px); /* Efecto de elevación sutil */
    border-radius: 4px; /* Bordes redondeados */
  }
  
  header {
    width: 100%;
  }