.ulBusqueda{
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  *{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.loader{
  align-items: center;
  height: 250px;
  width: 250px;
  
  }
body{
    margin: 0;
    background-color: black;
    color: rgb(0, 0, 0);
} 

